version: 1
settings:
  vsync: true
  hdr: true

resources:
  - name: gbuffer_albedo
    type: texture_2d
    format: rgba8
    size: viewport
  - name: gbuffer_normal
    type: texture_2d
    format: rgba16f
    size: viewport
  - name: gbuffer_depth
    type: texture_2d
    format: depth32f
    size: viewport
  - name: gbuffer_emission
    type: texture_2d
    format: rgba16f
    size: viewport
  - name: splat_color
    type: texture_2d
    format: rgba16f
    size: viewport
  - name: splat_depth
    type: texture_2d
    format: depth32f
    size: viewport
  - name: hdr_buffer
    type: texture_2d
    format: rgba16f
    size: viewport
  - name: bloom_buffer
    type: texture_2d
    format: rgba16f
    size: viewport/2

passes:
  - name: geometry_pass
    type: rasterize
    shader: shaders/passes/gbuffer.slang
    inputs:
      scene_meshes: auto
      scene_materials: auto
    outputs:
      color: gbuffer_albedo
      emission: gbuffer_emission
      normal: gbuffer_normal
      depth: gbuffer_depth

  - name: splat_pass
    type: splat
    shader: shaders/passes/gaussian_splat.slang
    inputs:
      scene_splats: auto
    outputs:
      color: splat_color
      depth: splat_depth

  - name: lighting_pass
    type: fullscreen
    shader: shaders/passes/deferred_light.slang
    inputs:
      gbuffer_albedo: gbuffer_albedo
      gbuffer_normal: gbuffer_normal
      gbuffer_depth: gbuffer_depth
      gbuffer_emission: gbuffer_emission
      splat_color: splat_color
      splat_depth: splat_depth
      scene_lights: auto
    outputs:
      color: hdr_buffer

  - name: bloom_pass
    type: fullscreen
    shader: shaders/passes/bloom.slang
    inputs:
      hdr: hdr_buffer
    outputs:
      color: bloom_buffer

  - name: tonemap_pass
    type: fullscreen
    shader: shaders/passes/tonemap.slang
    inputs:
      hdr: hdr_buffer
      bloom: bloom_buffer
    outputs:
      color: swapchain
